<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="vzui">
  <head>
    <meta charset="utf-8">
    <title>Verizon Router</title>
    <link rel="stylesheet" href="../../css/app.css?v=v1.0.134"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css?v=v1.0.134"/>
    <link rel="stylesheet" href="../../css/base.css?v=v1.0.134"/>
    <link rel="stylesheet" href="../../css/wh_skin.css?v=v1.0.134"/>
    <!--[if lte IE 8]>
        <script>
          document.createElement('ng-include');
          window.onload = function() {
            // init angular
            angular.bootstrap(document)
          };
        </script>

        <link rel="stylesheet" href="css/IE8.css?v=v1.0.134"/>
      <![endif]-->

      <!--[if IE 9]>
        <link rel="stylesheet" href="css/IE9.css?v=v1.0.134"/>
      <![endif]-->

  </head>
  <body>
<div class="masthead" id="header">
  <div class="navbar" id="main_navbar">
    <div class="container_setup">
      <a href="index.html?v=v1.0.134"><div class="brand"></div></a>
      <div class="stripe setup">
      <h2>Welcome to your Verizon FiOS Router!</h2>
      </div>
    </div>
  </div>
</div>

<div class="main_content set_up">
<div>
<div class="three_steps">

<div class="circle3 last">&nbsp;</div><h4>Save your settings</h4><p class="printSettings">You have successfully configured your router! Please print or save your new settings</p>
<div class="settingsSummary">
<p>Admin Password: <strong>LoveFly</strong></p>
<p>WiFi Name (EESID): <strong>Manish</strong></p>
<p>WiFi Password (WPA2 Key): <strong>2015Paris!dfeSE</strong></p>
<div class="icon_buttons">
<a href="#" class="btn icon_print">Print</a>
<a href="#" class="btn icon_save">Save File</a>
<a href="#" class="btn icon_copy">Copy to Clipboard</a>
</div>
</div>

</div>

</div>
<div class="get_started last"><div class="get_started_buttons last"> <a href="networkName.html?v=v1.0.134" class="btn next">Next</a></div></div>
</div>
 
  </body>
  </html>