<div id="keyContainer" ng-keyup="keyPress($event)" tabindex="1" focus-container>
  <div ng-include src="'partials/header.html?v=v1.0.134'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/advanced/nav.html?v=v1.0.134'"></div>
    <div class="content-panel-with-header span9">
      <div class="header">ARP Table</div>

      <p>
        The ARP Table below displays the IP and MAC address of each DHCP connection
      </p>

      <table class="dark-table">
        <tbody>
          <tr>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>Device</th>
          </tr>
          <tr ng-repeat="connection in connections">
            <td>{{connection.ipAddress}}</td>
            <td>{{connection.mac}}</td>
            <td>
              <a href="#/network/connections/{{connection.connectionId}}?from=arptable">{{interfaces[connection.connectionId].name}}</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="text-align: center;">
        <a href="#/advanced" class="btn dark-btn">Close</a>
        <button class="btn dark-btn" ng-click="refresh()">Refresh</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>