<div>
  <div ng-include src="'partials/header.html?v=v1.0.134'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/advanced/nav.html?v=v1.0.134'"></div>
    <div class="content-panel-with-header span9">
      <div class="header">Universal Plug and Play</div>

      <p>
        Universal Plug and Play provides the ability for the router to have new UPnP supported devices connected without having to reconfigure or reboot the router
      </p>

      <table class="dark-table">
        <tbody>
          <tr>
            <td colspan="2">
              <label class="checkbox">
                <input type="checkbox" ng-model="upnpSettings.enabled"/>
                UPnP Enabled
              </label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="checkbox">
                <input type="checkbox" ng-model="upnpSettings.autoCleanup"/>
                Enable Automatic Cleanup of Old Unused UPnP Services
              </label>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="text-align: center;">
        <button class="btn dark-btn" ng-click="save()">Apply</button>
        <a href="#/advanced" class="btn dark-btn">Cancel</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>