<div class="masthead" id="header">
  <div class="navbar" id="main_navbar">
    <div class="container header_center">
      <a href="index.html?v=v1.0.125"><div class="brand"></div></a>
      <div class="stripe">
        <ul class="nav" id="main_nav">
          <li id="main_tab" ng-class="tab == 'main' && 'selected' || ''"><a class="nav_item nav_main" href="#/main">MAIN</a></li>
          <li id="wireless_tab" ng-class="tab == 'wireless' && 'selected' || ''"><a class="nav_item nav_wireless" href="#/wireless">WIRELESS SETTINGS</a></li>
          <li id="network_tab" ng-class="tab == 'network' && 'selected' || ''"><a class="nav_item nav_network" href="#/network">MY NETWORK</a></li>
          <li id="firewall_tab" ng-class="tab == 'firewall' && 'selected' || ''"><a class="nav_item nav_firewall" href="#/firewall?warn=true">FIREWALL</a></li>
          <li id="parental_tab" ng-class="tab == 'parental' && 'selected' || ''"><a class="nav_item nav_parental" href="#/parental">PARENTAL CONTROLS</a></li>
          <li id="advanced_tab" ng-class="tab == 'advanced' && 'selected' || ''"><a class="nav_item nav_advanced" href="#/advanced?warn=true">ADVANCED</a></li>
          <li id="monitoring_tab" ng-class="tab == 'monitoring' && 'selected' || ''"><a class="nav_item nav_monitoring" href="#/monitoring">SYSTEM MONITORING</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="head-space"><!--spacing--></div>
  
