<div class="span3">
  <div class="content-panel">
    <ul class="sidenav">
      <li>
        <a href="#/main">Main</a>
      </li>
      <li ng-class="section == 'system' && 'active' || ''">
        <a href="#/monitoring/systemlog">System Log</a>
      </li>
      <li ng-class="section == 'security' && 'active' || ''">
        <a href="#/monitoring/securitylog">Security Log</a>
      </li>
      <li ng-class="section == 'advanced' && 'active' || ''">
        <a href="#/monitoring/advancedlog">Advanced Log</a>
      </li>
      <li ng-class="section == 'firewall' && 'active' || ''">
        <a href="#/monitoring/firewalllog">Firewall Log</a>
      </li>
      <li ng-class="section == 'wandhcp' && 'active' || ''">
        <a href="#/monitoring/wandhcplog">WAN DHCP Log</a>
      </li>
      <li ng-class="section == 'landhcp' && 'active' || ''">
        <a href="#/monitoring/landhcplog">LAN DHCP Log</a>
      </li>
      <li>
        <a href="#/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
