<div class="modal-header-guest">
    <div class='modal-wifi-close'><button type="button" class="guestWifiCloseImg" data-dismiss="modal" ng-click="close(buttons[1].result)" aria-hidden="true"></button></div>
</div>
<div class="guestWifiMsg">
    <h3>{{title}}</h3><span class="bold">{{message}}</span> <span class="italics14">Password must be 8 to 63 characters (i.e. numbers, letters, symbols) long.</span>
</div>
<div class="softTxt mTop20 mLeft20">PASSWORD</div>
<div class="mTop10 mLeft20"><input type="text" ng-show="wpaPopup.wpaShowKeyInUI" ng-model="key" class="mRight40" maxLength="63"/><input type="password" ng-show="!wpaPopup.wpaShowKeyInUI" ng-model="key" class="mRight40"/><input type="checkbox"  maxLength="63" ng-model="wpaPopup.wpaShowKeyInUI"><strong>Show Password</strong></div>

<div class="modal-footer-guest">
    <button ng-repeat="btn in buttons" ng-click="close(btn.result);" class="btn" ng-class="{btn.cssClass: true, guestPopupBtn0: $index == 0,guestPopupBtn1: $index == 1}">{{ btn.label }}</button>
</div>