<div id="keyContainer" ng-keyup="keyPress($event)" tabindex="1" focus-container run-focus="runFocus">
  <div ng-include src="'partials/header.html?v=v1.0.129'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/advanced/nav.html?v=v1.0.129'"></div>
    <div class="content-panel-with-header span9" ng-show="isOK">
      <div class="header">Attention</div>

      <table class="dark-table">
        <tbody>
          <tr>
            <th>Temporary Disconnection: </th>
            <td>You will not be able to connect to Wireless Broadband Router Management Console in the next 30 seconds.</td>
          </tr>
        </tbody>
      </table>
      <br>
      <p class="centerme margin_up">Press Apply to confirm.</p>
      <div style="text-align: center;">
        <button class="btn dark-btn" ng-click="save()">Apply</button>
        <a class="btn dark-btn" ng-click="cancelOK()">Cancel</a>
      </div>
    </div>

    <div class="content-panel-with-header span9" ng-hide="isOK">
      <div class="header">Ethernet Port Configuration</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <th>Port</th>
            <th colspan="2">Speed & Duplex</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="port in ports">
            <td>{{port.name}}</td>
            <td ng-switch on="port.currentMode" class="green-text">
              <span ng-switch-when="1">10 Half-Duplex</span>
              <span ng-switch-when="2">10 Full-Duplex</span>
              <span ng-switch-when="3">100 Half-Duplex</span>
              <span ng-switch-when="4">100 Full-Duplex</span>
              <span ng-switch-when="5">1000 Full-Duplex</span>
              <span ng-switch-default></span>
            </td>
            <td>
              <select ng-model="port.desiredMode" ng-change="selectOpt()">
                <option value="0">Auto</option>
                <option value="1">10 Half-Duplex</option>
                <option value="2">10 Full-Duplex</option>
                <option value="3">100 Half-Duplex</option>
                <option value="4">100 Full-Duplex</option>
                <option value="5">1000 Full-Duplex</option>
              </select>
            </td>
            <td ng-switch on="port.status">
              <span class="green-text" ng-switch-when="true">Connected<span ng-show="$index == 0"> / CRC 0</span></span>
              <span ng-switch-default>Disconnected</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center;">
        <button ng-click="checkSave()" class="btn dark-btn">Apply</button>
        <a href="#/advanced" class="btn dark-btn">Cancel</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>