<div id="keyContainer" ng-keyup="keyPress($event)" tabindex="1" focus-container>
  <div ng-include src="'partials/header.html?v=v1.0.129'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/advanced/nav.html?v=v1.0.129'"></div>
    <div ng-include src="'partials/error.html?v=v1.0.129'"></div>
    <div class="content-panel-with-header span9" ng-show="!showErrorPage">
      <div class="header">System Settings</div>

      <div class="bold">Router Status</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <td>Wireless Broadband Router's Hostname:</td>
            <td>
              <input type="text" maxLength="63" ng-model="sysSettings.routerHostname"/>
            </td>
          </tr>
          <tr>
            <td>Local Domain:</td>
            <td>
              <input type="text" ng-model="sysSettings.localDomain"/>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="bold">Wireless Broadband Router</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <td colspan="2">
              <label class="checkbox">
                <input type="checkbox" ng-model="sysSettings.autoRefreshSystemMonitoring"/>
                Automatic Refresh of System Monitoring Web Pages
              </label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="checkbox">
                <input type="checkbox" ng-model="sysSettings.promptPasswordLan"/>
                Prompt for Password When Accessing via LAN
              </label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="checkbox">
                <input type="checkbox" ng-model="sysSettings.warnBeforeChanges"/>
                Warn User Before Configuration Changes
              </label>

            </td>
          </tr>
          <tr>
            <td>Session Lifetime:</td>
            <td>
              <input type="number" ng-model="sysSettings.sessionLifetime" class="input-mini" maxlength="4" input-max-length-number/>
              Seconds
            </td>
          </tr>
          <tr>
            <td>
              Configure number of concurrent users that can be logged into the router:
            </td>
            <td>
              <select ng-model="sysSettings.concurrentUsers">
                <option ng-repeat="n in [1,10] | makeRange">{{n}}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <a href='#/advanced/remoteadmin{{fromString}}'>
        <div>
          <br/>
          Remote Administration
          <br/>
          <br/>
          <br/>
        </div>
      </a>

      <div class="bold">Management Application Ports</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <td>Primary HTTPS Management Port:</td>
            <td>
              <input type="number" ng-model="sysSettings.primaryHttpsPort" class="input-mini" maxlength="5" input-max-length-number/>
            </td>
          </tr>
          <tr>
            <td>Secondary HTTPS Management Port:</td>
            <td>
              <input type="number" ng-model="sysSettings.secondaryHttpsPort" class="input-mini" maxlength="5" input-max-length-number/>
            </td>
          </tr>
          <tr>
            <td>Primary SSH Port:</td>
            <td>
              <input type="number" ng-model="sysSettings.primarySshPort" class="input-mini" maxlength="5" input-max-length-number/>
            </td>
          </tr>
          <tr>
            <td>Secondary SSH Port:</td>
            <td>
              <input type="number" ng-model="sysSettings.secondarySshPort" class="input-mini" maxlength="5" input-max-length-number/>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="bold">System Logging</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <td colspan="2">
              <label class="checkbox">
                <input type="checkbox" ng-model="sysSettings.enableLogging"/>
                Enable Logging
              </label>
            </td>
          </tr>
          <tr ng-show="sysSettings.enableLogging">
            <td>Remote System Notify Level:</td>
            <td>
              <select ng-model="sysSettings.systemRemoteNotifyLevel">
                <option value="0">None</option>
                <option value="1">Error</option>
                <option value="2">Warning</option>
                <option value="3">Information</option>
              </select>
            </td>
          </tr>
          <tr ng-show="sysSettings.systemRemoteNotifyLevel != 0 && sysSettings.enableLogging">
            <td>Remote System Host IP Address:</td>
            <td>
              <input type="text" class="input-ip ipInput" ng-model="systemIpAddress[0]" maxlength="3"/>
              <span style="vertical-align:bottom;">.</span>
              <input type="text" class="input-ip ipInput" ng-model="systemIpAddress[1]" maxlength="3"/>
              <span style="vertical-align:bottom;">.</span>
              <input type="text" class="input-ip ipInput" ng-model="systemIpAddress[2]" maxlength="3"/>
              <span style="vertical-align:bottom;">.</span>
              <input type="text" class="input-ip ipInput" ng-model="systemIpAddress[3]" maxlength="3"/>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="bold">Security Logging</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <td>Remote Security Notify Level:</td>
            <td>
              <select ng-model="sysSettings.securityRemoteNotifyLevel">
                <option value="0">None</option>
                <option value="1">Error</option>
                <option value="2">Warning</option>
                <option value="3">Information</option>
              </select>
            </td>
          </tr>
          <tr ng-show="sysSettings.securityRemoteNotifyLevel != 0">
            <td>Remote Security Host IP Address:</td>
            <td>
              <input type="text" class="input-ip ipInput" ng-model="securityIpAddress[0]" maxlength="3"/>
              <span style="vertical-align:bottom;">.</span>
              <input type="text" class="input-ip ipInput" ng-model="securityIpAddress[1]" maxlength="3"/>
              <span style="vertical-align:bottom;">.</span>
              <input type="text" class="input-ip ipInput" ng-model="securityIpAddress[2]" maxlength="3"/>
              <span style="vertical-align:bottom;">.</span>
              <input type="text" class="input-ip ipInput" ng-model="securityIpAddress[3]" maxlength="3"/>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="bold">Auto WAN Detection</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <td>DHCP Timeout:</td>
            <td>
              <input type="text" ng-model="sysSettings.autoWanDhcpTimeout" class="input-mini" maxLength="5"/>
              Seconds
            </td>
          </tr>
        </tbody>
      </table>

      <div style="text-align: center;">
        <a class="btn dark-btn" ng-click="save()">Apply</a>
        <a href="#{{back}}{{prev}}" class="btn dark-btn">Cancel</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>