<div class="content-panel-with-header span9" ng-show="!detectBroadband">
  <div class="header line-height-small">Network Connections</div>
  <div ng-show="showChildren">NOTE: Only advanced technical users should use this feature.</div>

  <table class="dark-table" alt-style1>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="connection in connections" ng-show="showChildren || !connection.isChild">
        <td>
          <a href="#/network/connections/{{connection.connectionId}}" class="{{connection.styleName}}">{{names[$index]}}</a>
        </td>
        <td ng-show="connection.connectionId != 1 || connection.protocolUsed != 1">
          <div ng-show="connection.connectionId != 5">
            <div ng-show="connection.status == 0 && connection.enabled">
              <div ng-show="connection.connectionId == 2 || connection.connectionId == 3 || connection.connectionId == 4">
                <div class="green-text" ng-show="connection.hasConnectedDeviceNow">Connected</div>
                <div ng-show="!connection.hasConnectedDeviceNow">Disconnected</div>
              </div>
              <div class="green-text" ng-show="connection.connectionId != 2 && connection.connectionId != 3 && connection.connectionId != 4">
                <div ng-show="connection.protocolUsed == 0">
                  <div ng-switch on="connection.status">
                  <div ng-switch-when="0">
                    <div ng-show="connection.dhcpStatus == 0" class="red-text">No Connection</div>
                    <div ng-show="connection.dhcpStatus == 1" class="red-text">No Connection</div>
                    <div ng-show="connection.dhcpStatus == 2" class="green-text">Connected</div>
                    <div ng-show="connection.dhcpStatus == 3" class="red-text">No Connection</div>
                  </div>
                  <div class="red-text" ng-switch-default>No Connection</div>
                </div>
                </div>
                <div ng-show="connection.protocolUsed != 0">
                  <div class="green-text">Connected</div>
                </div>
              </div>
            </div>
            <div ng-show="connection.status != 0 && connection.enabled"><span ng-show="connection.connectionId == 1">Cable </span>Disconnected</div>
            <div ng-show="!connection.enabled">Disabled</div>
          </div>
          <div ng-show="connection.connectionId == 5">
            <div class="green-text" ng-show="connection.status == 0 && connection.coaxConnected && connection.coaxEnabled">Connected</div>
            <div ng-show="connection.status == 0 && !connection.coaxConnected && connection.coaxEnabled">Cable </span>Disconnected</div>
            <div ng-show="connection.status != 0 && connection.coaxEnabled"><span ng-show="connection.connectionId == 1">Cable </span>Disconnected</div>
            <div ng-show="!connection.coaxEnabled">Disabled</div>
          </div>
        </td>
        <td ng-show="connection.connectionId == 1 && connection.protocolUsed == 1">
          <div ng-show="connection.connectionId != 5">
            <div ng-show="connection.status == 0 && connection.enabled">
              <div ng-show="connection.dhcpStatus == 3">No Connection</div>
              <div ng-show="connection.dhcpStatus == 2">
                <div ng-show="connection.connectionId == 2 || connection.connectionId == 3 || connection.connectionId == 4">
                  <div class="green-text" ng-show="connection.hasConnectedDeviceNow">Connected</div>
                  <div ng-show="!connection.hasConnectedDeviceNow">Disconnected</div>
                </div>
                <div class="green-text" ng-show="connection.connectionId != 2 && connection.connectionId != 3 && connection.connectionId != 4">Connected</div>
              </div>
              <div ng-show="connection.dhcpStatus == 1">Connected (Renewing DHCP Lease)</div>
              <div ng-show="connection.dhcpStatus == 0">DHCP IP Address Released</div>
            </div>
            <div ng-show="connection.status != 0 && connection.enabled">Cable Disconnected</div>
            <div ng-show="!connection.enabled">Disabled</div>
          </div>
          <div ng-show="connection.connectionId == 5">
            <div ng-show="connection.status == 0 && connection.coaxEnabled">
              <div ng-show="connection.dhcpStatus == 3">No Connection</div>
              <div class="green-text" ng-show="connection.dhcpStatus == 2 && connection.coaxConnected">Connected</div>
              <div ng-show="connection.dhcpStatus == 2 && !connection.coaxConnected">Cable Disconnected</div>
              <div ng-show="connection.dhcpStatus == 1">Connected (Renewing DHCP Lease)</div>
              <div ng-show="connection.dhcpStatus == 0">DHCP IP Address Released</div>
            </div>
            <div ng-show="connection.status != 0 && connection.coaxEnabled">Cable Disconnected</div>
            <div ng-show="!connection.coaxEnabled">Disabled</div>
          </div>
        </td>
        <td class="actions">
          <a href="#/network/connections/{{connection.connectionId}}" title="Edit">
            <div class="edit-icon"></div>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="text-align: center;">
    <a class="btn dark-btn" href="#/network/full">Full Status</a>
    <button class="btn dark-btn" ng-click="detectConfirm()">Detect Broadband Connection</button>
    <button ng-show="!showChildren" class="btn dark-btn" ng-click="toggleChildren()">Advanced &gt;&gt;</button>
    <button ng-show="showChildren" class="btn dark-btn" ng-click="toggleChildren()">Basic &lt;&lt;</button>
  </div>
</div>

<div class="content-panel-with-header span9" ng-show="detectBroadband">
  <div class="header">Attention</div>
  <div>
    <div>
      <span class="bold">Wireless Broadband Router reboot:</span>
      Changes in the configuration or broadband detection require that the router reboot.
    </div>
    <div style="text-align: center;">
      <p>Press Apply to confirm.</p>

      <button class="btn dark-btn" ng-click="doDetectBroadband()">Apply</button>
      <button class="btn dark-btn" ng-click="detectCancel()">Cancel</button>
    </div>
  </div>
</div>