<div class="content-panel-with-header span9" ng-show="editingRoute && !showErrorPage">
  <div class="header">Route Settings</div>
  <table class="dark-table">
    <tbody>
      <tr>
        <td>Name:</td>
        <td>
          <select style="width: auto;" ng-model="routeEditing.type">
            <option value="0">{{routesConnections[0].name}}</option>
            <option value="1">{{routesConnections[1].name}}</option>
            <option value="2">{{routesConnections[2].name}}</option>
           <!-- <option value="3">{{routesConnections[3].name}}</option>-->
          </select>
        </td>
      </tr>
      <tr>
        <td>Destination:</td>
        <td>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.destination[0]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.destination[1]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.destination[2]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.destination[3]" maxlength="3"/>
        </td>
      </tr>
      <tr>
        <td>Netmask:</td>
        <td>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.netmask[0]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.netmask[1]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.netmask[2]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.netmask[3]" maxlength="3"/>
        </td>
      </tr>
      <tr>
        <td>Gateway:</td>
        <td>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.gateway[0]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.gateway[1]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.gateway[2]" maxlength="3"/>
          <span style="vertical-align:bottom;">.</span>
          <input type="text" class="input-ip ipInput" ng-model="routeEditing.gateway[3]" maxlength="3"/>
        </td>
      </tr>
      <tr>
        <td>Metric:</td>
        <td>
          <input type="number" class="input-mini" ng-model="routeEditing.metric"/>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center">
    <button class="btn dark-btn" ng-click="saveRoute()">Apply</button>
    <button class="btn dark-btn" ng-click="cancelRouteEdit()">Cancel</button>
  </div>
</div>