
<!DOCTYPE HTML>
<HTML>
<head>
  <title></title>
</head>

<body>
<h2>Create Schedule:</h2> <strong>What's This?</strong>

<p>To create a schedule for the <strong>Blocked Items</strong> or <strong>Allowed Items</strong>
list you created above, </p>

<p>1. Select one or more days of the week that you want your new <strong>Parental
Control Rule</strong> to be applied. Select these days by clicking on the box
next to the day(s). </p>

<p>2. Select the times of the day this rule will be active. You can do this
by either selecting the times it will be active, or the time it will
not be active. Select <strong>Start</strong> and <strong>End</strong> times by choosing both the hours and the minutes with the drop down menus. Do not forget to select AM
or PM by clicking on the buttons next to them. </p>
</P>

<p><strong>Here are two examples:</strong></p>

<p><em>Example 1:</em> If you wanted to only allow a rule to be active on Mondays
from 9:00 AM to 4:00 PM, you would select Monday and click on <strong>Rule
will be active at the scheduled time</strong> and then enter 9:00 AM for
the <strong>Start</strong> time and 4:00 PM for the <strong>End</strong> time.</p>

<p><em>Example 2:</em> If you wanted to allow a rule to be active ALL the time except
Friday from 5:00 PM to 9:00 PM, you would select Friday above and
then select <strong>Rule will be inactive at the scheduled time</strong> and
then enter 5:00 PM in the <strong>Start</strong> time and 9:00 PM in the <strong>End</strong> time.</p>

</body>
</HTML>