<div id="keyContainer" ng-keyup="keyPress($event)" tabindex="1" focus-container>
  <div ng-include src="'partials/header.html?v=v1.0.124'"></div>
  <div class="centerer">
    <div id="content">
      <div ng-include src="'partials/advanced/nav.html?v=v1.0.124'"></div>
      <div ng-include src="'partials/error.html?v=v1.0.124'"></div>

      <!-- Start Main Page-->
      <div class="content-panel-with-header span9" ng-show="pageToShow == 0 && !showErrorPage">
        <div class="header">Date and Time</div>

        <div class="bold">Localization</div>
        <table class="dark-table nopercent">
          <tbody>
            <tr>
              <td>Local Time:</td>
              <td>{{localTimeFormatted}}</td>
            </tr>
            <tr>
              <td>Time Zone:</td>
              <td>
                <select ng-model="dateTimeSettings.timeZone" ng-change="setTimeZone()" class="select-large">
                  <option value="0">Greenwich_Mean_Time (GMT+00:00)</option>
                  <option value="-5">Eastern_Time (GMT-05:00)</option>
                  <option value="-6">Central_Time (GMT-06:00)</option>
                  <option value="-7">Mountain_Time (GMT-07:00)</option>
                  <option value="-11">Arizona_Time (GMT-07:00)</option>
                  <option value="-8">Pacific_Time (GMT-08:00)</option>
                  <option value="-9">Alaska_Time (GMT-09:00)</option>
                  <option value="-10">Hawaii_Time (GMT-10:00)</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="bold">Automatic Time Update</div>
        <table class="dark-table nopercent">
          <tbody>
            <tr>
              <td colspan="3">
                <label class="checkbox">
                  <input type="checkbox" ng-model="dateTimeSettings.autoTimeUpdate" ng-change="checkTempObj()"/>
                  Enabled
                </label>
              </td>
            </tr>
            <tr>
              <td>Protocol:</td>
              <td colspan="2">Network Time Protocol (NTP)</td>
            </tr>
            <tr>
              <td>Time Server</td>
              <td colspan="2">Action</td>
            </tr>
            <tr ng-repeat="server in dateTimeSettings.servers">
              <td>{{server.name}}</td>
              <td class="actions" colspan="2">
                <a ng-click="editServer($index)" title="Edit">
                  <div class="edit-icon"></div>
                </a>
                <a ng-click="removeServer($index)"title="Remove">
                  <div class="remove-icon"></div>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <button class="btn dark-btn" ng-click="addServer()">Add</button>
              </td>
            </tr>
            <tr>
              <td>Status:</td>
              <td colspan="2">{{dateTimeSettings.status}}</td>
            </tr>
          </tbody>
        </table>

        <p>Press the Refresh button to update the status.</p>

        <div style="text-align: center;">
          <a class="btn dark-btn" ng-click="save()" href="#/advanced">Apply</a>
          <a href="#/advanced" class="btn dark-btn">Cancel</a>
          <button class="btn dark-btn" ng-click="setClock()" ng-disabled="dateTimeSettings.autoTimeUpdate">Clock Set</button>
          <button class="btn dark-btn" ng-click="refresh()">Refresh</button>
        </div>
      </div>
      <!-- End Main Page-->

      <!-- Start Adding Server-->
      <div class="content-panel-with-header span9" ng-show="pageToShow == 1 && !showErrorPage">
        <div class="header">Time Server Settings</div>
        <div class="heading">Enter server IP address or domain name:</div>
        <p class="bold">Time Server:</p>

        <label class="text">
          <input type="text" ng-model="serverName"/>
        </label>

        <div class="centerme">
          <button class="btn dark-btn" ng-click="saveServer()">Apply</button>
          <a class="btn dark-btn" ng-click="togglePage(0)">Cancel</a>
        </div>
      </div>
      <!-- End Adding Server-->

      <!-- Start Clock Set-->
      <div class="content-panel-with-header span9" ng-show="pageToShow == 2 && !showErrorPage">
        <div class="header">Clock Set</div>

        <table>
          <tbody>
            <tr>
              <td>Local Date:</td>
              <td>
                <select ng-model="tempDateObj.month" class="input-mini wider">
                  <option value="0">Jan</option>
                  <option value="1">Feb</option>
                  <option value="2">Mar</option>
                  <option value="3">Apr</option>
                  <option value="4">May</option>
                  <option value="5">Jun</option>
                  <option value="6">Jul</option>
                  <option value="7">Aug</option>
                  <option value="8">Sep</option>
                  <option value="9">Oct</option>
                  <option value="10">Nov</option>
                  <option value="11">Dec</option>
                </select>
                <select ng-model="tempDateObj.day" class="input-mini wider">
                  <option ng-repeat="n in [1,31] | makeRange">{{n}}</option>
                </select>
                <select ng-model="tempDateObj.year" class="input-mini wider">
                  <option ng-repeat="n in [1970,2037] | makeRange">{{n}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Local Time:</td>
              <td>
                <input type="text" class="input-mac" ng-model="tempDateObj.hours" maxLength="2"/>
                <span style="vertical-align:center;">:</span>
                <input type="text" class="input-mac" ng-model="tempDateObj.minutes" maxLength="2"/>
                <span style="vertical-align:center;">:</span>
                <input type="text" class="input-mac" ng-model="tempDateObj.seconds" maxLength="2"/>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center;">
          <button class="btn dark-btn" ng-click="applySetClock()">Apply</button>
          <button class="btn dark-btn" ng-click="cancelSetClock()">Cancel</button>
        </div>
      </div>
      <!-- End Clock Set-->
      <div class="clearfix"></div>
    </div>
  </div>
</div>