<div id="keyContainer" ng-keyup="keyPress($event)" tabindex="1" focus-container>
  <div ng-include src="'partials/header.html?v=v1.0.138'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/advanced/nav.html?v=v1.0.138'"></div>
    <div class="content-panel-with-header span9" ng-show="!showErrorPage">
      <div class="header">MAC Cloning</div>

      <div>
        <p>
          MAC Address Cloning provides the ability to emulate the routers MAC address to appear identical to the original hardware address. Use this feature only if your ISP requires MAC Address authenitication
        </p>
      </div>

      <table class="dark-table">
        <tbody>
          <tr>
            <td>Set MAC of Device:</td>
            <td>Broadband Connection(Ethernet/Coax)</td>
          </tr>
          <tr>
            <td>To Physical Address:</td>
            <td>
              <input type="text" class="input-mac" ng-model="macAddress[0]" maxLength="2"/>
              <span style="vertical-align:center;">:</span>
              <input type="text" class="input-mac" ng-model="macAddress[1]" maxLength="2"/>
              <span style="vertical-align:center;">:</span>
              <input type="text" class="input-mac" ng-model="macAddress[2]" maxLength="2"/>
              <span style="vertical-align:center;">:</span>
              <input type="text" class="input-mac" ng-model="macAddress[3]" maxLength="2"/>
              <span style="vertical-align:center;">:</span>
              <input type="text" class="input-mac" ng-model="macAddress[4]" maxLength="2"/>
              <span style="vertical-align:center;">:</span>
              <input type="text" class="input-mac" ng-model="macAddress[5]" maxLength="2"/>
              <br/>
              <br/>
              <button class="btn dark-btn" ng-click="restore()">Restore Factory MAC Address</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="text-align: center;">
        <button class="btn dark-btn" ng-click="save()">Apply</button>
        <a href="#/advanced" class="btn dark-btn">Cancel</a>
      </div>
    </div>
    <div ng-include src="'partials/error.html?v=v1.0.138'"></div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>