<!DOCTYPE HTML>
<HTML>
<head>
  <TITLE></TITLE>
</head>
<body>
<h2>Create Your Rule Name and Description:</h2> <strong>What's This:</strong>

<p>Create your rule name and brief description for the <strong>Parental Control Rule</strong> you just created.</p> 

<p><strong>Rule Names</strong> may NOT contain the following special
characters including spaces.</p>
<p class="centerme">,
 . : ; @ ” = + &lt; &gt; [ ] * &amp; % |  \  / { } ! $ ^ ( ) ?</p>

<p><strong>Your Description</strong> may contain any character.</p>

<p><em>Example:</em><br>
<strong>Rule Name</strong>: Leslie<br>
<strong>Description</strong>: All Internet access off by bedtime.</p>

</body>
</HTML>