<div class="column1 magicCol">
  <div class="header1">My Network</div>

  <div class="network_box" ng-repeat="device in devices">
    <div class="clearfix1"></div>
    <div class="leftImgcpu">
      <a href="#/network/device/details/{{$index}}?from=main">
        <div>
          <span ng-class="device.styleName"></span>
        </div>
      </a>
    </div>

    <div class="midTxtCpu">
      <div class="row1 bold heading OFMain">{{device.name}}</div>
      <div class="row1 softTxt">
      
        <span class="lb2-text-main" ng-switch on="device.connectionType">
          <span ng-switch-when="0">Connection:
            <span class="ethernet-icon"></span>
            &nbsp;Ethernet
          </span>
          <span ng-switch-when="4">Connection:
            <span class="wifi-icon"></span>
            &nbsp;Wireless 5G
          </span>
          <span ng-switch-when="5">Connection:
            <span class="wifi-icon"></span>
            &nbsp;Wireless 2.4G
          </span>
          <span ng-switch-default>Connection:
            <div class="coax-icon"></div>
            &nbsp;Coax
          </span>
        </span>

      </div>
      <div class="row1 softTxt">
        IP Address:
        <span class="lb1-text-main">{{device.shownIPAddress}}</span>
      </div>
      <div class="row1 softTxt">
        Status:
        <span class="lb3-text-main">
          <span ng-switch on="device.status">
            <span class="green-text" ng-switch-when="true">Active</span>
            <span class="red-text" ng-switch-when="false">Inactive</span>
          </span>
        </span>
        <br/>
      </div>
    </div>
  </div>
</div>