<div>
  <div ng-include src="'partials/header.html?v=v1.0.149'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/wireless/nav.html?v=v1.0.149'"></div>
    <div class="content-panel-with-header span9">
      <div class="header">{{wirelessName}} SSID Broadcast</div>
      <div class="ssid_txt">
        <p>
          When SSID Broadcast is enabled, it means that any computer or wireless device using the SSID of 'Any' can see your Router. To prevent this from happening, disable the SSID broadcast so that only those Wireless devices with your ESSID can access your Router.
        </p>
        <div>
          <table>
            <tbody>
              <tr>
                <td>
                  <label>
                    <input type="radio" ng-model="ssidBroadcast" ng-value="true"/>
                    Enable &nbsp; 
                  </label>
                </td>
                <td>
                  <label>
                    <input type="radio" ng-model="ssidBroadcast" ng-value="false"/>
                    Disable
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="text-align: center;">
            <a href="#/wireless/advanced" class="btn dark-btn">Back</a>
            <button class="btn dark-btn" ng-click="save()">Apply</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>