<div class="modal-header-guest">
    <div class='modal-wifi-close'><button type="button" class="guestWifiCloseImg" data-dismiss="modal" ng-click="close(buttons[1].result)" aria-hidden="true"></button></div>
</div>
<div class="guestWifiWarnImg">
</div>
<div class="guestWifiMsg1">
    <p>When turning Guest Wi-Fi ON/OFF any devices connected to the wireless network may temporarily lose connectivity while the network is being updated.<br><br>Would you like to continue?<br>&nbsp;</p>
</div>
<div class="modal-footer-guest">
    <button ng-repeat="btn in buttons" ng-click="close(btn.result);" class="btn" ng-class="{btn.cssClass: true, guestPopupBtn0: $index == 0,guestPopupBtn1: $index == 1}">{{ btn.label }}</button>
</div>