<div ng-show="!rebootingPage">
  <div ng-include src="'partials/header.html?v={version_number}'"></div>
    <div class="centerer">
    <div id="content">
      <div ng-include src="'partials/network/nav.html?v={version_number}'"></div>
      <div ng-include src="'partials/network/connectionsList.html?v={version_number}'"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div ng-show="rebootingPage">
  <div class="masthead" id="header">
    <div class="navbar" id="main_navbar">
      <div class="header centerer">
        <a href="/index.html?v={version_number}">
          <div class="brand"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="centerer">
    <div id="content" class="plainlower">
      <div>
        <p>Your router is currently rebooting. Please wait.</p>
      </div>
      <p>
        Attention! If the page does not refresh automatically in a minute, please press the Login button.
      </p>
      <div>
        <a href="" class="btn dark-btn" ng-show="!restarting">Login</a>
        <a href="#/login" class="btn dark-btn" ng-show="restarting">Login</a>
      </div>
    </div>
  </div>
</div>