<div class="network-wrapper-col-right" >
  <div class="header-flush-left">My Network</div>
  <div class="networkDeviceHeader0">
      <div class="leftPos">Primary Network</div>
      <div class="rightPos" ng-show="hasList0"><a ng-click="toggleList(0, 1)" ng-show="!showList0">Show More</a>
      <a ng-click="toggleList(0, 0)" ng-show="showList0">Show Less</a></div>
  </div>
  <div class="spaceMargin-wrap" ng-repeat="device in devices | filter:nonGuestDevice" ng-show="showDevice(0, $index)">

    <div class="icons-left-network">
      <a href="#/network/device/details/{{device.id}}?fromdevicenetwork=true&devicenum={{device.id}}">
        <div>
          <span title="Host: {{device.name}}  IP Address: {{device.ipAddress}}" ng-class="device.styleName"></span>
        </div>
      </a>
    </div>

    <div class="list1-network" ng-switch on="device.connectionType">
      <table class="network_devices" border="0" cellpadding="0" cellspacing="0">
        <tr valign="top">
          <th colspan="3" class="bold heading_10"><div class="makeRel"><p class="deviceOF">{{device.name}}</div></div></th>
        </tr>

        <tr valign="top">
          <td class="softTxt">Connection:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt" ng-switch on="device.connectionType">
            <div ng-switch-when="0">
              <div class="ethernet-icon"></div>
              Ethernet
            </div>
            <div ng-switch-when="4">
              <div class="wifi-icon"></div>
              Wireless 5G
            </div>
            <div ng-switch-when="5">
              <div class="wifi-icon"></div>
              Wireless 2.4G
            </div>
            <div ng-switch-when="6">
              <div class="wifi-icon"></div>
              Wireless 2.4G
            </div>
            <div ng-switch-default>
              <div class="coax-icon"></div>
              Coax
            </div>
          </td>
        </tr>

        <tr valign="top">
          <td class="softTxt">IP Address:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt">{{device.shownIPAddress}}</td>
        </tr>

        <tr valign="top">
          <td class="softTxt">IP Address Allocation:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt" ng-switch on="device.staticIp">
            <div ng-switch-when="false">DHCP</div>
            <div ng-switch-default>Static</div>
          </td>
        </tr>
        <tr valign="top" ng-show="device.ipv6Address !== '::' && ipv6.enabled">
		  <td class="softTxt">IPv6 Address:</td>
		  <td width="15">&nbsp;</td>
		  <td class="softTxt" >
		  <div class="overTv6">{{device.shownIP6Address}}</div>
		  </td>
		</tr>
        <tr valign="top">
          <td class="softTxt">MAC Address:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt">{{device.mac}}</td>
        </tr>
        <tr valign="top">
          <td class="softTxt">Status:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt">
            <span ng-switch on="device.blocked">
              <span ng-switch-when="true">Blocked</span>
              <span ng-switch on="device.status" ng-switch-when="false">
                <span class="green-text" ng-switch-when="true">Active</span>
                <span class="red-text" ng-switch-when="false">Inactive</span>
              </span>
            </span>
          </td>
        </tr>
      </table>

    </div>

    <div class="bubble-network">
      <ul>
        <li ng-hide="true">
          <a target="_blank" href="file://' + content[i].ipAddress + '/">Access Shared Files</a>
        </li>
        <li>
          <a href="" ng-click="blockDevice(device.id)" ng-show="!device.blocked">Block this Device</a>
          <a href="" ng-click="blockDevice(device.id)" ng-show="device.blocked">Un-Block this Device</a>
        </li>
        <li>
          <a href="#/parental">Website Blocking</a>
        </li>
        <li>
          <a href="#/firewall/accesscontrol?fromnetwork=true">Block Internet Services</a>
        </li>
        <li>
          <a href="#/firewall/portforward">Port Forwarding</a>
        </li>
        <li>
          <a href="#/network/device/details/{{device.id}}?fromdevicenetwork=true&devicenum={{device.id}}">View Device Details</a>
        </li>
        <li>
          <a href="#/network/device/rename/{{device.id}}">Rename This Device</a>
        </li>
      </ul>
    </div>

    <div class="clearfixSpaceNetwork"></div>
    <div class="vertical-separator-nework"></div>
  </div>
  <div class="networkDeviceHeader1">
      <div class="leftPos">Guest Network</div>
      <div class="rightPos" ng-show="hasList1"><a ng-click="toggleList(1, 1)" ng-show="!showList1">Show More</a>
      <a ng-click="toggleList(1, 0)" ng-show="showList1">Show Less</a></div>
  </div>
  <div class="spaceMargin-wrap" ng-repeat="device in devices | filter:guestDevice" ng-show="showDevice(1, $index)">

    <div class="icons-left-network">
      <a href="#/network/device/details/{{device.id}}?fromdevicenetwork=true&devicenum={{device.id}}">
        <div>
          <span title="Host: {{device.name}}  IP Address: {{device.ipAddress}}" ng-class="device.styleName"></span>
        </div>
      </a>
    </div>

    <div class="list1-network" ng-switch on="device.connectionType">
      <table class="network_devices" border="0" cellpadding="0" cellspacing="0">
        <tr valign="top">
          <th colspan="3" class="bold heading_10"><div class="makeRel"><p class="deviceOF">{{device.name}}</div></div></th>
        </tr>

        <tr valign="top">
          <td class="softTxt">Connection:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt" ng-switch on="device.connectionType">
            <div ng-switch-when="0">
              <div class="ethernet-icon"></div>
              Ethernet
            </div>
            <div ng-switch-when="4">
              <div class="wifi-icon"></div>
              Wireless 5G
            </div>
            <div ng-switch-when="5">
              <div class="wifi-icon"></div>
              Wireless 2.4G
            </div>
            <div ng-switch-when="6">
              <div class="wifi-icon"></div>
              Wireless 2.4G
            </div>
            <div ng-switch-default>
              <div class="coax-icon"></div>
              Coax
            </div>
          </td>
        </tr>

        <tr valign="top">
          <td class="softTxt">IP Address:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt">{{device.shownIPAddress}}</td>
        </tr>

        <tr valign="top">
          <td class="softTxt">IP Address Allocation:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt" ng-switch on="device.staticIp">
            <div ng-switch-when="false">DHCP</div>
            <div ng-switch-default>Static</div>
          </td>
        </tr>
 		<tr valign="top" ng-show="device.ipv6Address !== '::' && ipv6.enabled">
		  <td class="softTxt">IPv6 Address:</td>
		  <td width="15">&nbsp;</td>
		  <td class="softTxt" >
		  <div class="overTv6">{{device.shownIP6Address}}</div>
		  </td>
		</tr>
        <tr valign="top">
          <td class="softTxt">MAC Address:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt">{{device.mac}}</td>
        </tr>
        <tr valign="top">
          <td class="softTxt">Status:</td>
          <td width="15">&nbsp;</td>
          <td class="softTxt">
            <span ng-switch on="device.blocked">
              <span ng-switch-when="true">Blocked</span>
              <span ng-switch on="device.status" ng-switch-when="false">
                <span class="green-text" ng-switch-when="true">Active</span>
                <span class="red-text" ng-switch-when="false">Inactive</span>
              </span>
            </span>
          </td>
        </tr>
      </table>

    </div>

    <div class="bubble-network">
      <ul>
        <li ng-hide="true">
          <a target="_blank" href="file://' + content[i].ipAddress + '/">Access Shared Files</a>
        </li>
        <li>
          <a href="" ng-click="blockDevice(device.id)" ng-show="!device.blocked">Block this Device</a>
          <a href="" ng-click="blockDevice(device.id)" ng-show="device.blocked">Un-Block this Device</a>
        </li>
        <li>
          <a href="#/parental">Website Blocking</a>
        </li>
        <li>
          <a href="#/network/device/details/{{device.id}}?fromdevicenetwork=true&devicenum={{device.id}}">View Device Details</a>
        </li>
        <li>
          <a href="#/network/device/rename/{{device.id}}">Rename This Device</a>
        </li>
      </ul>
    </div>

    <div class="clearfixSpaceNetwork"></div>
    <div class="vertical-separator-nework"></div>
  </div>

  <div class="rightlinks-network">

    <table border="0" class="tblNetwork">
      <tr>
        <th colspan="3">
          <div class="verticalShort-separator-nework"></div>
        </th>
      </tr>
      <tr>
        <th colspan="3" >Connected Devices</th>
      </tr>
      <tr>
        <th colspan="3">
          <div class="verticalShort-separator-nework"></div>
        </th>
      </tr>

      <tr>
        <td softTxt>Ethernet:</td>
        <td class="softTxt">{{deviceTypes(0)}}</td>
      </tr>
      <tr>
        <th colspan="3">
          <div class="verticalShort-separator-nework"></div>
        </th>
      </tr>

      <tr>
        <td softTxt>Wireless 5G:</td>
        <td softTxt>{{deviceTypes(4)}}</td>
      </tr>

      <tr>
        <th colspan="3">
          <div class="verticalShort-separator-nework"></div>
        </th>
      </tr>

      <tr>
        <td softTxt>Wireless 2.4G:</td>
        <td softTxt>{{deviceTypes(5)}}</td>
      </tr>

      <tr>
        <th colspan="3">
          <div class="verticalShort-separator-nework"></div>
        </th>
      </tr>

      <tr>
        <td softTxt>Coax:</td>
        <td softTxt>{{deviceTypes(2)}}</td>
      </tr>
    </table>

  </div>
</div>
<!--end of network-wrapper-col-right-->
