<div>
  <div ng-include src="'partials/header.html?v=v1.0.124'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/system/nav.html?v=v1.0.124'"></div>
    <div class="span9 content-panel-with-header">
      <div class="header">Bandwidth Monitoring</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <th>Last Minute</th>
            <th>1 Minute</th>
            <th ng-repeat="n in [2,8] | makeRange">{{n}} Minutes</th>
          </tr>
          <tr>
            <td>Tx Rate</td>
            <td ng-repeat="n in [0,7] | makeRange">{{bb.bandwidth.minutesTx[n] + ' ' +  bb.bandwidth.units}}</td>
          </tr>
          <tr>
            <td>Rx Rate</td>
            <td ng-repeat="n in [0,7] | makeRange">{{bb.bandwidth.minutesRx[n] + ' ' + bb.bandwidth.units}}</td>
          </tr>
          <tr>
            <th>Last Hour</th>
            <th>1 Hour</th>
            <th ng-repeat="n in [2,8] | makeRange">{{n}} Hours</th>
          </tr>
          <tr>
            <td>Tx Rate</td>
            <td ng-repeat="n in [0,7] | makeRange">{{bb.bandwidth.hoursTx[n] + ' ' + bb.bandwidth.units}}</td>
          </tr>
          <tr>
            <td>Rx Rate</td>
            <td ng-repeat="n in [0,7] | makeRange">{{bb.bandwidth.hoursRx[n] + ' ' + bb.bandwidth.units}}</td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center;">
        <a href="#/monitoring/advanced" class="btn dark-btn">Close</a>
        <button class="btn dark-btn" ng-click="toggleAutoRefresh()" ng-show="!autoRefresh">Automatic Refresh On</button>
        <button class="btn dark-btn" ng-click="toggleAutoRefresh()" ng-show="autoRefresh">Automatic Refresh Off</button>
        <button class="btn dark-btn" ng-click="refresh()">Refresh</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>