<div id="keyContainer" ng-keyup="keyPress($event)" tabindex="1" focus-container run-focus="runFocus">
  <div ng-include src="'partials/header.html?v=v1.0.125'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/advanced/nav.html?v=v1.0.125'"></div>
    <div ng-include src="'partials/error.html?v=v1.0.125'"></div>
    <!-- START: Scheduler rules -->
    <div class="content-panel-with-header span9" ng-show="pageToShow == 0">
      <div class="header">Scheduler Rules</div>

      <div>
        Scheduler rules are used for limiting the activation of firewall rules to specific time periods, either for days of the week, or for hours of each day
      </div>

      <table class="dark-table">
        <tbody>
          <tr>
            <td>Rule Name</td>
            <td>Settings</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
          <tr ng-repeat="schedule in schedules">
            <td><a href="" ng-click="editSchedule($index)">{{schedule.name}}</a></td>
            <td>
              <div ng-repeat="part in printSchedArr[$index]">{{part}}</div>
            </td>
            <td>{{schedule.status}}</td>
            <td class="actions">
              <a ng-click="editSchedule($index)" title="Edit">
                <div class="edit-icon"></div>
              </a>
              <a ng-click="removeSchedule($index)" title="Remove">
                <div class="remove-icon"></div>
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <a class="btn dark-btn" ng-click="togglePage(5)">Add</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="text-align: center;">
        <a href="#/advanced" class="btn dark-btn">Close</a>
        <a class="btn dark-btn" ng-click="refresh()">Refresh</a>
      </div>
    </div>
    <!-- END: Scheduler rules -->

    <!-- Start: Scheduler -->
    <div class="content-panel-with-header span9" ng-class="(showErrorPage) ? 'cross-browser-change' : ''" ng-show="pageToShow == 5 || pageToShow == 6 || pageToShow == 7">
      <div ng-include src="'partials/firewall/scheduler.html?v=v1.0.125'"></div>
    </div>
    <!-- End: Scheduler -->

    <!-- Start: Attention -->
    <div class="content-panel-with-header span9" ng-show="(pageToShow == 8) && !showErrorPage">
      <div class="header">Attention</div>
      <div>
        <div>
          <div align="center">
            <p>Scheduler rule is in use. Deleting this rule will enable these features regardless of the time.<br>Press Apply to confirm.</p>
          </div>
          <div align="center">
            <button class="btn dark-btn" ng-click="updateAccessControlBeforeRemove()">Apply</button>
            <button class="btn dark-btn" ng-click="togglePage(0)">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Attention -->
    <div class="clearfix"></div>
  </div>
  </div>
</div>