<div class="span3">
  <div class="content-panel">
    <ul class="sidenav">
      <li>
        <a href="#/main">Main</a>
      </li>
      <li ng-class="section == 'igmp' && 'active' || ''">
        <a href="#/igmp/igmpproxy">IGMP Proxy</a>
      </li>
      <li ng-class="section == 'intmulti' && 'active' || ''">
        <a href="#/igmp/intmulti">Interface Multicast Filtering</a>
      </li>
      <li ng-class="section == 'hostmulti' && 'active' || ''">
        <a href="#/igmp/hostmulti">Host Multicast Filtering</a>
      </li>
      <li ng-class="section == 'aclmulti' && 'active' || ''">
        <a href="#/igmp/aclmulti">ACL Multicast Filtering</a>
      </li>
      <li ng-class="section == 'servmulti' && 'active' || ''">
        <a href="#/igmp/servmulti">Service Multicast Filtering</a>
      </li>
      <li>
        <a href="#/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
