<div class="modal-header">
<h1>Tips for creating secure passwords</h1>
</div>
<div class="modal-body">
<ol>
<li>Longer passwords are more secure. Use at least 8 characters.</li>
<li>Use a mix of letters, numbers, and symbols.</li>
<li>Don't use personal information that could be guessed or easily discovered (for example: names of family members, birthdates, phone numbers).</li>
</ol>
</div>
<div class="modal-footer">
<button type="button" class="btn" data-ng-click="dialogOptions.close()">Close</button>  
</div>