<div class="span3">
  <div class="content-panel">
    <ul class="sidenav">
      <li>
        <a href="#/main">Main</a>
      </li>
      <li>
        <a href="#/firewall" ng-class="section == 'general' && 'active' || ''">General</a>
      </li>
      <li>
        <a href="#/firewall/accesscontrol" ng-class="section == 'access' && 'active' || ''">Access Control</a>
      </li>
      <li>
        <a href="#/firewall/portforward" ng-class="section == 'portforward' && 'active' || ''">Port Forwarding</a>
      </li>
      <li>
        <a href="#/firewall/porttrigger" ng-class="section == 'porttrigger' && 'active' || ''">Port Triggering</a>
      </li>
      <li>
        <a href="#/firewall/dmzhost" ng-class="section == 'dmzhost' && 'active' || ''">DMZ Host</a>
      </li>
      <li>
        <a href="#/firewall/remoteadmin" ng-class="section == 'remoteadmin' && 'active' || ''">Remote Administration</a>
      </li>
      <li>
        <a href="#/firewall/staticnat" ng-class="section == 'staticnat' && 'active' || ''">Static NAT</a>
      </li>
      <li>
        <a href="#/firewall/log" ng-class="section == 'securitylog' && 'active' || ''">Security Log</a>
      </li>
      <li>
        <a href="#/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
