<div>

  <!-- Start: Set Rule Scheduler -->
  <div ng-show="pageToShow == 5 && !showErrorPage">
    <div class="header">Set Rule Schedule</div>

    <table class="dark-table">
      <tbody>
        <tr>
          <td>Rule Name:</td>
          <td>
            <input type="text" ng-model="schedule.name" maxLength="64"/>
          </td>
        </tr>
      </tbody>
    </table>

    <div>Rule Settings</div>
    <table class="dark-table">
      <tbody>
        <tr>
          <td>
            <input type="radio" ng-model="schedule.activeDuring" ng-value="true"/>
            Rule will be Active at the Scheduled Time
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" ng-model="schedule.activeDuring" ng-value="false"/>
            Rule will be Inactive at the Scheduled Time
          </td>
        </tr>
      </tbody>
    </table>

    <table class="dark-table">
      <tbody>
        <tr>
          <td>Rule Schedule</td>
          <td>Action</td>
        </tr>
        <tr ng-repeat="seg in schedule.timeSegments">
          <td>
            <div>{{printTimeSegArr[$index]}}</div>
          </td>
          <td class="actions">
            <a ng-click="editTimeSegment($index)" title="Edit">
              <div class="edit-icon"></div>
            </a>
            <a ng-click="removeTimeSegment($index)" title="Remove">
              <div class="remove-icon"></div>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <a class="btn dark-btn" ng-click="togglePage(6)">Add Rule Schedule</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="text-align: center;">
      <button class="btn dark-btn" ng-click="applyRuleScheduler()">Apply</button>
      <a class="btn dark-btn" ng-click="cancelRuleScheduler()">Cancel</a>
    </div>
  </div>
  <!-- End: Set Rule Scheduler -->

  <!-- Start: Edit Rule Schedule -->
  <div ng-show="pageToShow == 6 && !showErrorPage">
    <div class="header">Edit Rule Schedule</div>

    <div>Days of Week</div>
    <table class="dark-table">
      <tbody>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" ng-model="daysOfTheWeek[0]"/>
              Monday
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" ng-model="daysOfTheWeek[1]"/>
              Tuesday
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" ng-model="daysOfTheWeek[2]"/>
              Wednesday
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" ng-model="daysOfTheWeek[3]"/>
              Thursday
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" ng-model="daysOfTheWeek[4]"/>
              Friday
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" ng-model="daysOfTheWeek[5]"/>
              Saturday
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" ng-model="daysOfTheWeek[6]"/>
              Sunday
            </label>
          </td>
        </tr>
      </tbody>
    </table>

    <div>Hours Range</div>
    <table class="dark-table">
      <tbody>
        <tr>
          <td>Start</td>
          <td>End</td>
          <td>Action</td>
        </tr>
        <tr ng-repeat="range in hourRanges">
          <td>{{formatTimeString(range.startTimeHour,range.startTimeMinute)}}</td>
          <td>{{formatTimeString(range.endTimeHour,range.endTimeMinute)}}</td>
          <td class="actions">
            <a ng-click="editHourRange($index)" title="Edit">
              <div class="edit-icon"></div>
            </a>
            <a ng-click="removeHourRange($index)" title="Remove">
              <div class="remove-icon"></div>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <a class="btn dark-btn" ng-click="togglePage(7)">New Hours Range Entry</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="text-align: center;">
      <button class="btn dark-btn" ng-click="applyTimeSegment()">Apply</button>
      <a class="btn dark-btn" ng-click="cancelTimeSegment()">Cancel</a>
    </div>
  </div>
  <!-- End: Edit Rule Schedule -->

  <!-- Start: Edit Hour Range -->
  <div ng-show="pageToShow == 7 && !showErrorPage">
    <div class="header">Edit Hour Schedule</div>

    <div>
      NOTE: Use military time to edit the hour range. (e.g. 2:30pm = 14:30).
    </div>
    <table class="dark-table">
      <tbody>
        <tr>
          <td>Start time:</td>
          <td>
            <input type="text" class="input-mac" ng-model="hourRange.startTimeHour" maxlength="2"/>
            <span style="vertical-align:center;">:</span>
            <input type="text" class="input-mac" ng-model="hourRange.startTimeMinute" maxlength="2"/>
          </td>
        </tr>
        <tr>
          <td>End time:</td>
          <td>
            <input type="text" class="input-mac" ng-model="hourRange.endTimeHour" maxlength="2"/>
            <span style="vertical-align:center;">:</span>
            <input type="text" class="input-mac" ng-model="hourRange.endTimeMinute" maxlength="2"/>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="text-align: center;">
      <button class="btn dark-btn" ng-click="applyHourRange()">Apply</button>
      <a class="btn dark-btn" ng-click="cancelHourRange()">Cancel</a>
    </div>
  </div>
  <!-- End: Edit Hour Range -->

</div>