<div class="modal-header-guest">
    <div class='modal-wifi-close'><button type="button" class="guestWifiCloseImg" data-dismiss="modal" ng-click="close('ok')" aria-hidden="true"></button></div>
</div>
<div class="guestWifiWarnImg">
</div>
<div class="guestWifiMsg1">
    <p>Your changes have not been saved<br><br>If you continue, your changes will be discarded.<br>&nbsp;</p>
</div>
<div class="modal-footer-guest">
    <button ng-repeat="btn in buttons" ng-click="close(btn.result);" class="btn" ng-class="{btn.cssClass: true, guestPopupBtn0: $index == 0,guestPopupBtn1: $index == 1}">{{ btn.label }}</button>
</div>