<div>
  <div ng-include src="'partials/header.html?v=v1.0.124'"></div>
  <div class="centerer">
  <div id="content">
    <div ng-include src="'partials/igmp/nav.html?v=v1.0.124'"></div>
    <div class="content-panel-with-header span9">
      <div class="header">Interface Multicast Filtering</div>
      <table class="dark-table">
        <tbody>
          <tr>
            <th>Interface Description</th>
            <th>IGMP Allowed</th>
          </tr>
          <tr ng-repeat="intf in igmpintf.interfaces">
            <td>{{intf.name}}:</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" ng-model="intf.enabled"/>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center;">
        <button ng-click="save()" class="btn dark-btn">Apply</button>
        <a href="#/advanced" class="btn dark-btn">Cancel</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>