<div class="modal-header-guest">
    <div class='modal-wifi-close'><button type="button" class="guestWifiCloseImg" data-dismiss="modal" ng-click="close(buttons[1].result)" aria-hidden="true"></button></div>
</div>
<div class="guestWifiWarnImg">
</div>
<div class="guestWifiMsg1">
    <p>By selecting "Enable Access List" you may block any MAC address listed (Deny all devices...) or omitted (Accept all devices...) below. This will prevent access to FiOS TV from those devices if the devices are not included appropriately.<br>&nbsp;</p>
</div>
<div class="modal-footer-guest">
    <button ng-repeat="btn in buttons" ng-click="close(btn.result);" class="btn" ng-class="{btn.cssClass: true, guestPopupBtn0: $index == 0,guestPopupBtn1: $index == 1}">{{ btn.label }}</button>
</div>