<div class="span3">
  <div class="content-panel">
    <ul class="sidenav">
      <li>
        <a href="#/main">Main</a>
      </li>
      <li>
        <a href="#/monitoring/systemlog" ng-class="section == 'system' && 'active' || ''">System Log</a>
      </li>
      <li>
        <a href="#/monitoring/securitylog" ng-class="section == 'security' && 'active' || ''">Security Log</a>
      </li>
      <li>
        <a href="#/monitoring/advancedlog" ng-class="section == 'advanced' && 'active' || ''">Advanced Log</a>
      </li>
      <li>
        <a href="#/monitoring/firewalllog" ng-class="section == 'firewall' && 'active' || ''">Firewall Log</a>
      </li>
      <li>
        <a href="#/monitoring/wandhcplog" ng-class="section == 'wandhcp' && 'active' || ''">WAN DHCP Log</a>
      </li>
      <li>
        <a href="#/monitoring/landhcplog" ng-class="section == 'landhcp' && 'active' || ''">LAN DHCP Log</a>
      </li>
      <li>
        <a href="#/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
