<!--col3-->
<div class="column1 magicCol">
  <div class="securityWarn" ng-show="hasFailedLogin">
  <h1 class="header1">Security Warning</h1>
  <p>{{failedLogin}} failed login attempt(s) since last successful login.</p>
  </div>
  <div class="header1">Verizon Zone</div>

  <div class="row2">
    <a href="http://www.verizon.com/" target="_blank">Verizon.com</a>
  </div>
  <div class="row2">
    <a href="http://www.verizon.com/foryourhome/myaccount/ngen/upr/nlogin.aspx" target="_blank">My Verizon Account</a>
  </div>
  <div class="row2">
    <a href="https://www.verizon.com/home/verizonglobalhome/ghp_business_signin.aspx" target="_blank">My Business Account</a>
  </div>
  <div class="row2">
    <a href="http://www.verizon.com/support/residential/index.htm" target="_blank">Support</a>
  </div>
  <div class="row2">
    <a href="http://entertainment.verizon.com/tv/3/landing/index.php" target="_blank">Watch TV Online</a>
  </div>

  <div class="clearfix1"></div>
</div>