<div>
  <div ng-include src="'partials/header.html'"></div>
  <div class="centerer">
    <div id="content">
      <div ng-include src="'partials/wireless/nav.html'"></div>
      <div class="content-panel-with-header span9" ng-show="!showErrorPage">
        <div class="header">{{wirelessName}} {{wpaType}}</div>
        <div>
          <p class="header1">User Guidance on Password Selection</p>
          <p>
            Your wireless network security depends on having a good password. A good password contains Sixteen (16) or more letters or numbers, with each letter or digit chosen at random. This initial password shipped with your router is an example of a good password. The initial password is printed on the serial number sticker under the router.
          </p>

          <p>
            The Letters in the password are case sensitive and the initial password provided on your router is in Upper Case. If you wish to change your wireless password, try to pick a password similar to your router's initial password. You must include at least one letter and at least one number in your password. It is recommended that the password should be at least sixteen letters and numbers, with no spaces or special symbols. However, you can shorten the password at your own risk. At a minimum there has to be 8 characters and a maximum of 63 can be used.
          </p>
          <p> <strong>Here are some suggestions to help you choose the safe password:</strong> </p>
          <ul>
            <li>
              The password should be 8 to 63 ASCII characters long, and it is highly recommended to use 16 or more.
            </li>
            <li>
              Characters that are upper case. ASCII is categorized as Alpha and Numeric characters.
            </li>
            <li>
              DO choose each letter or digit at random. Try one-finger typing with your eyes closed.
            </li>
            <li>
              DO use a longer password, and write it down somewhere safe. A short password is easier to remember, but also much easier
          for attackers to guess. It is OK to let your PC save your wireless password so you don't have to remember it.
            </li>
            <li>
              DO NOT use anything directly related to you, such as your street address, phone number or car license plate.
            </li>
            <li>
              DO NOT use the name of any person or place in your password. The attackers know all the common names.
            </li>
            <li>
              DO NOT use any word from the dictionary. The attackers have dictionaries, too.
            </li>
            <li>
              DO NOT use a phrase or sentence. Once an attacker learns any portion of the phrase or sentence, the rest is easily guessed.
            </li>
          </ul>
        </div>
        <table class="dark-table" alt-style>
          <tbody>
            <tr>
              <th>Authentication Method:</th>
              <td>Pre-Shared Key</td>
            </tr>
            <tr>
              <th>Pre-Shared Key: <security-tip></security-tip>

              </th>
              <td>
                <input type="text" ng-model="wpa.key" maxLength="63"/>
              </td>
            </tr>

            <tr ng-show="false">
              <th>Encryption Algorithm:</th>
              <td ng-switch on="wpaType">
                <span ng-switch-when="WPA">TKIP</span>
                <select ng-switch-when="WPA2" ng-model="wpa.encryptionAlgorithm">
                  <option value="0">AES</option>
                  <option value="1">TKIP and AES</option>
                </select>
              </td>
            </tr>

            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" ng-model="wpa.groupKeyUpdateIntervalEnabled"/> <strong>Group Key Update Interval</strong>
                </label>
              </td>
              <td>
                <input class="units_label" type="number" ng-model="wpa.groupKeyUpdateInterval"/>
                Seconds
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center;">
          <a href="#/wireless/advanced" class="btn dark-btn">Back</a>
          <button class="btn dark-btn" ng-click="save()">Apply</button>
        </div>
      </div>
      <div ng-include src="'partials/error.html'"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>