<div class="span3">
  <div class="content-panel">
    <ul class="sidenav">
      <li>
        <a href="#/main">Main</a>
      </li>
      <li>
        <a href="#/igmp/igmpproxy" ng-class="section == 'igmp' && 'active' || ''">IGMP Proxy</a>
      </li>
      <li>
        <a href="#/igmp/intmulti" ng-class="section == 'intmulti' && 'active' || ''">Interface Multicast Filtering</a>
      </li>
      <li>
        <a href="#/igmp/hostmulti" ng-class="section == 'hostmulti' && 'active' || ''">Host Multicast Filtering</a>
      </li>
      <li>
        <a href="#/igmp/aclmulti" ng-class="section == 'aclmulti' && 'active' || ''">ACL Multicast Filtering</a>
      </li>
      <li>
        <a href="#/igmp/servmulti" ng-class="section == 'servmulti' && 'active' || ''">Service Multicast Filtering</a>
      </li>
      <li>
        <a href="#/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
