<div>
  <div ng-include src="'partials/header.html'"></div>
  <div class="centerer">
    <div id="content">
      <div ng-include src="'partials/igmp/nav.html'"></div>
      <div ng-include src="'partials/error.html'"></div>
      <div class="content-panel-with-header span9" ng-show="page == 0">
        <div class="header">Service Multicast Filtering</div>
        <table class="dark-table">
          <tbody>
            <tr>
              <th>Service</th>
              <th>Multicast Address Range</th>
              <th>Max STBs Allowed</th>
              <th>Max Non-STBs Allowed</th>
              <th>Action</th>
            </tr>
            <tr ng-repeat="serv in services">
              <td>{{serv.service}}</td>
              <td>
                <div ng-repeat="range in serv.ranges">
                  {{range.address}} / {{range.netmask}}
                </div>
              </td>
              <td>{{serv.maxStbs}}</td>
              <td>{{serv.maxNonStbs}}</td>
              <td class="actions">
                <a href="" ng-click="editService(serv.id)" class="edit-icon" title="Edit"></a>
                <a href="" ng-click="deleteService(serv.id)" class="remove-icon" title="Remove"></a>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <button ng-click="addService()" class="btn dark-btn">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center;">
          <a href="#/advanced" class="btn dark-btn">Close</a>
        </div>
      </div>
      <div class="content-panel-with-header span9" ng-show="page == 1 && !showErrorPage">
        <div class="header">Multicast Service</div>
        <table class="dark-table">
          <tbody>
            <tr>
              <td>Service:</td>
              <td>
                <input type="text" ng-model="temp.service"/>
              </td>
            </tr>
            <tr>
              <td>Max STBs Allowed:</td>
              <td>
                <input type="text" ng-model="temp.maxStbs"/>
              </td>
            </tr>
            <tr>
              <td>Max Non-STBs Allowed:</td>
              <td>
                <input type="text" ng-model="temp.maxNonStbs"/>
              </td>
            </tr>
          </tbody>
        </table>
        <div>Multicast Address Range</div>
        <table class="dark-table">
          <tbody>
            <tr>
              <th>Multicast Address</th>
              <th>Subnet Mask</th>
              <th>Action</th>
            </tr>
            <tr ng-repeat="ran in temp.ranges">
              <td>{{ran.address}}</td>
              <td>{{ran.netmask}}</td>
              <td class="actions">
                <a class="edit-icon" ng-click="editMulticast($index)" title="Edit"></a>
                <a class="remove-icon" ng-click="removeMulticast($index)" title="Remove"></a>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <button ng-click="addMulticast()" class="btn dark-btn">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center;">
          <button ng-click="save()" class="btn dark-btn">Apply</button>
          <a href="" ng-click="cancelAdd()" class="btn dark-btn">Cancel</a>
        </div>
      </div>
      <div class="content-panel-with-header span9" ng-show="page == 2 && !showErrorPage">
        <div class="header">Multicast Address</div>
        <table class="dark-table">
          <tbody>
            <tr>
              <td>Multicast Address:</td>
              <td>
                <input type="text" class="input-ip ipInput" ng-model="multicast[0]" maxlength="3"/>
                <span style="vertical-align:bottom;">.</span>
                <input type="text" class="input-ip ipInput" ng-model="multicast[1]" maxlength="3"/>
                <span style="vertical-align:bottom;">.</span>
                <input type="text" class="input-ip ipInput" ng-model="multicast[2]" maxlength="3"/>
                <span style="vertical-align:bottom;">.</span>
                <input type="text" class="input-ip ipInput" ng-model="multicast[3]" maxlength="3"/>
              </td>
            </tr>
            <tr>
              <td>Subnet Mask:</td>
              <td>
                <input type="text" class="input-ip ipInput" ng-model="netmask[0]" maxlength="3"/>
                <span style="vertical-align:bottom;">.</span>
                <input type="text" class="input-ip ipInput" ng-model="netmask[1]" maxlength="3"/>
                <span style="vertical-align:bottom;">.</span>
                <input type="text" class="input-ip ipInput" ng-model="netmask[2]" maxlength="3"/>
                <span style="vertical-align:bottom;">.</span>
                <input type="text" class="input-ip ipInput" ng-model="netmask[3]" maxlength="3"/>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center;">
          <button ng-click="saveRange()" class="btn dark-btn">Apply</button>
          <a href="" ng-click="cancelRange()" class="btn dark-btn">Cancel</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>