<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Verizon Router</title>
    <link rel="stylesheet" href="../css/app.css?v=v1.0.149"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css?v=v1.0.149"/>
    <link rel="stylesheet" href="../css/base.css?v=v1.0.149"/>
    <link rel="stylesheet" href="../css/wh_skin.css?v=v1.0.149"/>
  </head>
  <body>
    <div>
     <div class="masthead" id="header">
        <div class="navbar" id="main_navbar">
          <div class="header centerer">
            <a href="index.html?v=v1.0.149">
              <div class="brand"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="centerer">
        <div id="content" class="plainlower">
          <div class="content-panel-with-header span9">
            <div>
              <div>
                <p>Your router is currently rebooting. Please wait.</p>
              </div>
              <p>
                Attention! If the page does not refresh automatically in a minute, please press the Login button.
              </p>
              <div class="login_button">
                <a href="../index.html?v=v1.0.149" class="btn dark-btn">Login</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </body>
</html>