<div class="modal-header">
<h1>Failed - Settings</h1>
</div>
<div class="modal-body">
<p>One or more of the settings specified by the user is invalid and causing an error to be returned by the DDNS service. This breaks down into four different possible specific errors:</p>
<ul>
<li>Incorrect username & password </li>
<li>Hostname is not one of those that has been registered in the account</li>
<li>Hostname is not a correct, fully-qualified domain name</li>
<li>User has specified an option that is only for paid accounts, and this is not a paid account</li>
</ul>
</div>
<div class="modal-footer">
<button type="button" class="btn" data-ng-click="dialogOptions.close()">Close</button>
</div>