<div class="content-panel-with-header span9">
  <div class="header">{{name}} Properties</div>

  <div>NOTE: Only advanced technical users should use this feature.</div>
  <table class="dark-table" alt-style>
    <tbody>
      <tr>
        <th>General</th>
        <th></th>
      </tr>
      <tr ng-show="connection.connectionId != 1 || connection.protocolUsed != 1">
        <th>Status:</th>
        <td>
          <div ng-show="connection.status == 0 && connection.enabled">
            <div ng-show="connection.connectionId == 2 || connection.connectionId == 3 || connection.connectionId == 4">
              <div class="green-text" ng-show="connection.hasConnectedDeviceNow">Connected</div>
              <div ng-show="!connection.hasConnectedDeviceNow">Disconnected</div>
            </div>
            <div class="green-text" ng-show="connection.connectionId != 2 && connection.connectionId != 3 && connection.connectionId != 4">Connected</div>
          </div>
          <div ng-show="connection.status != 0 && connection.enabled"><span ng-show="connection.connectionId == 1">Cable </span>Disconnected</div>
          <div ng-show="!connection.enabled">Disabled</div>
        </td>
      </tr>
      <tr ng-show="connection.connectionId == 1 && connection.protocolUsed == 1">
        <th>Status:</th>
        <td>
          <div ng-show="connection.status == 0 && connection.enabled">
            <div ng-show="connection.dhcpStatus == 3">No Connection</div>
            <div ng-show="connection.dhcpStatus == 2">
              <div ng-show="connection.connectionId == 2 || connection.connectionId == 3 || connection.connectionId == 4">
                <div class="green-text" ng-show="connection.hasConnectedDeviceNow">Connected</div>
                <div ng-show="!connection.hasConnectedDeviceNow">Disconnected</div>
              </div>
              <div class="green-text" ng-show="connection.connectionId != 2 && connection.connectionId != 3 && connection.connectionId != 4">Connected</div>
            </div>
            <div ng-show="connection.dhcpStatus == 1">Connected (Renewing DHCP Lease)</div>
            <div ng-show="connection.dhcpStatus == 0">DHCP IP Address Released</div>
          </div>
          <div ng-show="connection.status != 0 && connection.enabled">Cable Disconnected</div>
          <div ng-show="!connection.enabled">Disabled</div>
        </td>
      </tr>
      <tr>
      <th>Network:</th>
        <td>
          <select ng-model="connection.networkType" ng-disabled="true">
            <option value="0">Broadband Connection</option>
            <option value="1">Network (Home/Office)</option>
            <option value="2">DMZ</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>Connection Type:</th>
        <td>{{connection.connectionType}}</td>
      </tr>
      <tr>
        <th>Physical Address:</th>
        <td>{{connection.mac}}</td>
      </tr>
      <tr>
        <th>MTU:</th>
        <td>
          <select ng-model="connection.mtuType" ng-change="mtuTypeChanged()">
            <option value="0">Automatic</option>
            <option value="1">Automatic by DHCP</option>
            <option value="2">Manual</option>
          </select>
          <input type="number" class="input-mini" ng-model="connection.mtu" value="connection.mtu" ng-disabled="connection.mtuType != 2"/>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="dark-table">
    <tbody>
      <tr>
        <th colspan="2">HW Switch Ports</th>
      </tr>
      <tr>
        <th>Port</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="port in connection.ports">
        <th>Port {{$index + 1}}</th>
        <td ng-switch on="port.currentMode" ng-show="port.status">
          <div ng-switch-when="1" class="green-text">Connected 10 Mbps Half-Duplex</div>
          <div ng-switch-when="2" class="green-text">Connected 10 Mbps Full-Duplex</div>
          <div ng-switch-when="3" class="green-text">Connected 100 Mbps Half-Duplex</div>
          <div ng-switch-when="4" class="green-text">Connected 100 Mbps Full-Duplex</div>
          <div ng-switch-when="5" class="green-text">Connected 1000 Mbps Full-Duplex</div>
        </td>
        <td ng-show="!port.status">
          Disconnected
        </td>
      </tr>
    </tbody>
  </table>

  <div style="text-align: center">
    <button class="btn dark-btn" ng-click="save()">Apply</button>
    <a class="btn dark-btn" href="#/network/connections/{{connection.connectionId}}{{fromString}}">Cancel</a>
  </div>

</div>