<div class="span3">
  <div class="content-panel">
    <ul class="sidenav">
      <li>
        <a href="#/main">Main</a>
      </li>
      <li ng-class="section == 'general' && 'active' || ''">
        <a href="#/firewall">General</a>
      </li>
      <li ng-class="section == 'access' && 'active' || ''">
        <a href="#/firewall/accesscontrol">Access Control</a>
      </li>
      <li ng-class="section == 'portforward' && 'active' || ''">
        <a href="#/firewall/portforward">Port Forwarding</a>
      </li>
      <li ng-class="section == 'porttrigger' && 'active' || ''">
        <a href="#/firewall/porttrigger">Port Triggering</a>
      </li>
      <li ng-class="section == 'remoteadmin' && 'active' || ''">
        <a href="#/firewall/remoteadmin">Remote Administration</a>
      </li>
      <li ng-class="section == 'staticnat' && 'active' || ''">
        <a href="#/firewall/staticnat">Static NAT</a>
      </li>
      <li ng-class="section == 'securitylog' && 'active' || ''">
        <a href="#/firewall/log">Security Log</a>
      </li>
      <li>
        <a href="#/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
